html .background-container {
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url($bg) center / cover no-repeat !important;
  clip-path: none !important;
}

.welcome-banner__title {
    text-shadow: 0px 0px 10px white;
}


@media (min-width: 640px) {
    .welcome-banner__wrap .search-menu .search-menu-container, #main-outlet-wrapper #main-outlet, #main-outlet-wrapper .sidebar-wrapper {
    -webkit-box-shadow: 0 0 10px white !important;
    -moz-box-shadow: 0 0 10px white !important;
    box-shadow: 0 0 10px white !important;
    }
}


@media (max-width: 639px) {
  .full-width .contents .topic-list .topic-list-body .topic-list-item {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}